.container {
  border-bottom: 1px solid #eee;
  display: inline-block;
  width: 100%;
}

.tab {
  height: 50px;
  cursor: pointer;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  border-right: 1px solid #eee;

  &.active {
    background-color: #eee;
  }

  &:last-child {
    border-right: none;
  }
}