.container {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #eee;
}

.contentContainer {
  padding: 1em;

  .title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}